<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-A01793146/blob/main/assignment_mod02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# This is my notebook for the module 2

In [7]:
# Tuples
#

In [12]:
# I will create a tuple

A = (1, 2, 3, 4)

In [14]:
# Let's confirm what type of data is the variable tuple1
type(A)

tuple

In [16]:
#Now let's find first two elements of tuple A

print(A[0:2])

(1, 2)

In [17]:
# Let's create a list

B = ["a", "b", "c", "d"]

In [18]:
# Now print the first two elements of list B

print(B[0:2])

['a', 'b']

In [19]:
# Let's change the first element to upper

print(B[0].upper())

A

In [20]:
# Let's cast a list to a set
myList = ['A','B','C','A','B','C']
print(type(myList))


mySet = set(myList)
print(type(mySet))

# We can see that the list was casted into a set

<class 'list'>
<class 'set'>

In [38]:
# Let's S be a set of the following elements
S={'A','B','C'}

# Add letter 'D' to S

S.add('D')
print(S)

{'C', 'B', 'A', 'D'}

In [31]:
# Suppose We have two sets: 
# A={1,2,3,4,5}
# B={1,3,9, 12}
# Find the intersection of A and B

A={1,2,3,4,5}
B={1,3,9, 12}

A & B

print(A & B)

#This is equal to A.intersection(B)
print(A.intersection(B))

{1, 3}
{1, 3}

In [30]:
# We can do a lot of funny things with sets operations
# Let's find the difference between 2 sets

print(A - B)

# This is equal to

print(A.difference(B))

{2, 4, 5}
{2, 4, 5}

In [35]:
# We can do some union operations

# Union 

print(A.union(B))

{1, 2, 3, 4, 5, 9, 12}

In [37]:
# How we can evaluate if B is superset of A?
set(A).issuperset(B)

# Or viceversa
set(B).issuperset(A)

False