<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-A01793146/blob/main/assignment_mod02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# This is my notebook for the module 2

In [7]:
# Tuples
#

In [12]:
# I will create a tuple

A = (1, 2, 3, 4)

In [14]:
# Let's confirm what type of data is the variable tuple1
type(A)

tuple

In [16]:
#Now let's find first two elements of tuple A

print(A[0:2])

(1, 2)

In [17]:
# Let's create a list

B = ["a", "b", "c", "d"]

In [18]:
# Now print the first two elements of list B

print(B[0:2])

['a', 'b']

In [19]:
# Let's change the first element to upper

print(B[0].upper())

A

In [20]:
# Let's cast a list to a set
myList = ['A','B','C','A','B','C']
print(type(myList))


mySet = set(myList)
print(type(mySet))

# We can see that the list was casted into a set

<class 'list'>
<class 'set'>

In [38]:
# Let's S be a set of the following elements
S={'A','B','C'}

# Add letter 'D' to S

S.add('D')
print(S)

{'C', 'B', 'A', 'D'}

In [31]:
# Suppose We have two sets: 
# A={1,2,3,4,5}
# B={1,3,9, 12}
# Find the intersection of A and B

A={1,2,3,4,5}
B={1,3,9, 12}

A & B

print(A & B)

#This is equal to A.intersection(B)
print(A.intersection(B))

{1, 3}
{1, 3}

In [30]:
# We can do a lot of funny things with sets operations
# Let's find the difference between 2 sets

print(A - B)

# This is equal to

print(A.difference(B))

{2, 4, 5}
{2, 4, 5}

In [35]:
# We can do some union operations

# Union 

print(A.union(B))

{1, 2, 3, 4, 5, 9, 12}

In [37]:
# How we can evaluate if B is superset of A?
set(A).issuperset(B)

# Or viceversa
set(B).issuperset(A)

False

In [39]:
# Let's create a dictionary

Dict = {"key1" : 1, "key2": 2, "key3": 3, "key4": (5,6,7)}
Dict

{'key1': 1, 'key2': 2, 'key3': 3, 'key4': (5, 6, 7)}

In [40]:
# What is the value of a particular key

Dict["key1"]

1

In [44]:
# In the lessons there is a good example of dictionary with movie titles


release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [46]:
print(release_year_dict["Back in Black"])

1980

In [48]:
# How can I see all the keys of a dictionary? with .keys

release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

In [49]:
# And the values?

release_year_dict.values()

dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])

In [50]:
# Dictionaries can be expandable

release_year_dict["Gremmlins"] = 1984

#Let's see the result
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Gremmlins': 1984}

In [51]:
#how to remove a item a key-value?
del(release_year_dict["Rumours"])
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Gremmlins': 1984}

In [52]:
# I can verify if an item exists in a dictionary
# For example:

'Titanic' in release_year_dict

False

In [53]:
#Let's make the quiz


soundtrack_dic = {"The Bodyguard":"1992", "Saturday Night Fever":"1977"}
soundtrack_dic

{'The Bodyguard': '1992', 'Saturday Night Fever': '1977'}

In [54]:
#print the keys
soundtrack_dic.keys()

#print the values
soundtrack_dic.values()

dict_values(['1992', '1977'])

In [57]:
#Let's create a new dictionary

album_sales_dict = {"Back in Black":50, "The Bodyguard":50, "Thriller":60 }

# Now let's see the total sales of Thriller

print(album_sales_dict["Thriller"])

# Print all the values and keys

print(album_sales_dict.keys())
print(album_sales_dict.values())

60
dict_keys(['Back in Black', 'The Bodyguard', 'Thriller'])
dict_values([50, 50, 60])