<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-A01793146/blob/main/assignment01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# This is the first Week

assignment01 for GitJobish03 and edited in git, and 18

In [1]:
# My first program

print("Hello world!")

Hello world!

In [12]:
# Check my python version

import sys

print(sys.version)

3.7.14 (default, Sep  8 2022, 00:06:44)
[GCC 7.5.0]

In [2]:
# Understand variable types

print(type(1.0))

<class 'float'>

In [3]:
# Cast a value to Boolean

bool(1)

True

In [14]:
# This is how an error looks like in python

frint("hola")

# We can see that the "frint" function is not defined. We'll discuss this later

NameError: ignored

In [15]:
# Let's review how Python execute our code

print("This will be printed")
frint("this is an error")
print("this will not be printed because is after an error")

This will be printed

NameError: ignored

In [17]:
# With function type we can discover what type of data a variable is
# For instance:

print(type("hola"))
print(type(12))
print(type(12.432))

<class 'str'>
<class 'int'>
<class 'float'>

In [19]:
# This is an integer type
type(3)

int

In [20]:
# But if we add a number right after the digital point we get:
type(3.1)

# a float

float

In [22]:
# We can discover a lot about float type if we run:

sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [23]:
# Python allows to cast data types into another type

float(20)
#We can observe a digital point is added

20.0

In [26]:
# This applies for integers to strings

int('32')

# This code casts 32 to string type
# we can check it out

myStr = str('32')
print(type(myStr))

<class 'str'>

In [28]:
# There are other types like booleans and we can cast a 0 to False and 1 to True

print(bool(1))
print(bool(0))

True
False

In [29]:
#Lets run the exercise
#What is the data type of the result of: 6/2?#

print(6 / 2)

3.0

In [30]:
# And how about the result of 6 //2 

print(6 // 2)

3

In [5]:
# This is another expression

10 * 200

2000

In [4]:
# This is an expression

50 -60

-10

In [6]:
# There are multiple operations
#add 
3 + 4
#substract
50 -2

48

In [11]:
# This is a variable. A piece of data reserved in memory

x = 43 + 20  / 32 
print(x)

# We can make some operations with different variables
# Let's say y = 10

y = 10

# and then multiply y times x

y * x

43.625

436.25

In [35]:
# Let's make some exercizes with variables
# What is the value of x where x = 3 + 2 * 2

x = 3 + 2 * 2

print(f"The result of x is {x}")

The result of x is 7

In [33]:
# For example, what is the value of y where y = (3 + 2) * 2

y = (3 + 2) * 2

print(f"The result is: {y}")

The result is: 10

In [36]:
# What is the result of z where z = x + y

z = x + y

print(f"The result of z is {z}")

The result of z is 17