<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-A01793146/blob/main/assignment_mod03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Conditions**

In [2]:
# This is a comparision operations
# Which is the value that produces true?
i = 1
i != 0

True

In [37]:
# More exercises

a = 5
a == 6

# In the first line we're assigning a value of 5 to x and in the second one we're evaluating if a is equal to 6

i = 32
i < 60

False

In [39]:

# We can make some fun comparisions between strings

"Hola" == "Buenos dias"

# This should be false because hola is not equal to buenos dias

False

In [6]:
# This exercise is for logical operatos
# Find the vlaue of y that produces a true statement

y =  9
x = 1

x > 0 and y < 10

# If I set y = 10, then the statement is not valid

True

## **Branching**

In [3]:
# This is branching.
# Find the value of x that prints "this is a"

x = "a"

if(x =="a"):
    print("this is a")
else:
    print("this is not a")

this is a

In [40]:
# An easy way to see how it works is:

age = 18

if age < 18:
  print("You can't have a beer")
else:
  print("Yeah, you deserve it!")

Yeah, you deserve it!

In [42]:
# Moreoever we can add some bifurcations

if age < 18:
  print("You can't have a beer")
elif age==18:
  print("Just barely...!")
else:
  print("Go and get a vodka")

Just barely...!

In [44]:
# We can combine logical operators

album_year =2001

if(album_year > 2000) and (album_year < 2020):
  print("The album year was between 2000 and 2020")

The album year was between 2000 and 2020

## **Loops**

In [8]:
# This is an exercise for loops
# Use loops to print out the elements of the list A

A = [3, 4, 5]

for a in A:
  print(a)

3
4
5

In [13]:
# Now let's check the loops with while
# find the value of x that print out the sequence 1,2 ..., 10

x = 10 
y = 1

while(y !=x):
  print(y)
  y=y+1

1
2
3
4
5
6
7
8
9

## **Functions**

In [14]:
# This exercise is for the functions

#Complete the function f so that it returns the product of a and b. 

def f(a, b):
  return a * b

In [15]:
print(f(2, 3))

6

In [16]:
# Complete the function g such that the input c is a list of integers and the output is the sum of all elements in the list

def g(c):

  mySum = 0
  for i in c:
      mySum = mySum +  i
  
  return mySum

In [20]:
myList = [1,2,3,4,5,6,7,8,9,10]

print(g(myList))

#Let's test the function

if sum(myList) == g(myList):
    print("Correct")
else:
    print("Incorrect")

55
Correct

## **Classes**

In [21]:
# This is a lesson about classes and objects:
# Let's define a class Car with 4 atributes: make, model, colour and number of owners:

class Car(object):
  def __init__(self, make, model, color):
    self.make = make;
    self.model = model;
    self.color = color;
    self.owner_number = 0

  def car_info(self):
    print("make: ", self.make)
    print("model: ", self.model )
    print("color: ", self.color)
    print("number of owners:", self.owner_number)

  def sell(self):
    self.owner_number = self.owner_number + 1

#This is the class car declaration. It's only the pattern

In [22]:
# Create a car Object

make ="VW"
model ="Vochito"
color = "blue"

myCar = Car(make, model, color)

In [24]:
# Now we can dig in the car info

myCar.car_info()

make:  VW
model:  Vochito
color:  blue
number of owners: 0

In [26]:
# Now I can simulate 5 sells of the same car

for i in range(5):
  myCar.sell()

## **Exceptions**

In [27]:
# Exceptions 
# This is an exception because there's no way to divide 1 by 0

1 / 0

ZeroDivisionError: ignored

In [28]:
# In this example, the variable xx is undefinded and we'll get an error

y = xx + 3

NameError: ignored

In [29]:
# This is another example of an error, I'm trying to access to an element that doesn't exist

myList2 = ["a", "b", "c", "d"]

print(myList2[6]])

SyntaxError: ignored

In [31]:
# To handle this exceptions we use try catch block, for example:

a = 1
try:
  b = int(input("Please enter a nunmber to divide a"))
  a = a /b
  print("Sucess a=", a)
except:
  print("There is an error")

Please enter a nunmber to divide a32
Sucess a= 0.03125

In [32]:
# But we can be more specific in the errors
# for example

a = 1

try:
    b = int(input("Please enter a number to divide a"))
    a = a/b
    print("Success a=",a)
except ZeroDivisionError:
    print("this number cant divide because it's 0")
except ValueError:
    print("This is not a number")
except:
    print("This is another error")

Please enter a number to divide ad
This is not a number

In [34]:
# Another way to handle try catch is adding finally clause

a = 1

try:
    b = int(input("Please enter a number to divide a"))
    a = a/b
except ZeroDivisionError:
    print("this number cant divide because it's 0")
except ValueError:
    print("This is not a number")
except:
    print("This is another type of error")
else:
    print("success a=",a)
finally:
    print("Processing Complete")

Please enter a number to divide a23
success a= 0.043478260869565216
Processing Complete