<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-A01793146/blob/main/assignment01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# This is the first Week

assignment01 for GitJobish03 and edited in git, and 18

In [1]:
# My first program

print("Hello world!")

Hello world!

In [12]:
# Check my python version

import sys

print(sys.version)

3.7.14 (default, Sep  8 2022, 00:06:44)
[GCC 7.5.0]

In [2]:
# Understand variable types

print(type(1.0))

<class 'float'>

In [3]:
# Cast a value to Boolean

bool(1)

True

In [4]:
# This is an expression

50 -60

-10

In [5]:
# This is another expression

10 * 200

2000

In [6]:
# There are multiple operations
#add 
3 + 4
#substract
50 -2

48

In [11]:
# This is a variable. A piece of data reserved in memory

x = 43 + 20  / 32 
print(x)

# We can make some operations with different variables
# Let's say y = 10

y = 10

# and then multiply y times x

y * x

43.625

436.25

In [ ]:
#